#### For Loop
### to do one work we will use loop

In [1]:
print(list(range(1,16)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
range(start,end-1,gap)

In [3]:
print(list(range(1,16,2)))

[1, 3, 5, 7, 9, 11, 13, 15]

### while using for loop we will use for loop function

In [4]:
for i in range(1,11):
    print("solution")

solution
solution
solution
solution
solution
solution
solution
solution
solution
solution

In [5]:
for i in range(1,11):
    print(i,"solution")

1 solution
2 solution
3 solution
4 solution
5 solution
6 solution
7 solution
8 solution
9 solution
10 solution

In [6]:
list=[10,20,30,40,50]
for value in list:
    print(value)

10
20
30
40
50

In [22]:
list=[10,20,30,40,50]
s=0
for value in list:
    s=s+value
    
print('sum_:',s)

sum_: 150

In [29]:
list=[10,20,30,40,50]
s=0
for value in list:
    s=s+value
    
print('sum_:',s)

sum_: 150

In [30]:
t = int(input('Enter Table Number:'))

for i in range(1,21):
    print(t,'*',i,'=',t*1)

Enter Table Number:9
9 * 1 = 9
9 * 2 = 9
9 * 3 = 9
9 * 4 = 9
9 * 5 = 9
9 * 6 = 9
9 * 7 = 9
9 * 8 = 9
9 * 9 = 9
9 * 10 = 9
9 * 11 = 9
9 * 12 = 9
9 * 13 = 9
9 * 14 = 9
9 * 15 = 9
9 * 16 = 9
9 * 17 = 9
9 * 18 = 9
9 * 19 = 9
9 * 20 = 9

In [31]:
t = int(input('Enter Table Number:'))

for i in range(1,21):
    print(t,'*',i,'=',t*1)

Enter Table Number:19
19 * 1 = 19
19 * 2 = 19
19 * 3 = 19
19 * 4 = 19
19 * 5 = 19
19 * 6 = 19
19 * 7 = 19
19 * 8 = 19
19 * 9 = 19
19 * 10 = 19
19 * 11 = 19
19 * 12 = 19
19 * 13 = 19
19 * 14 = 19
19 * 15 = 19
19 * 16 = 19
19 * 17 = 19
19 * 18 = 19
19 * 19 = 19
19 * 20 = 19